/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f7f4f8;
}

/*estilos del header*/

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 4.5rem;
    font-weight: lighter;
    text-align: center;
    color: grey;
    padding: 0.5rem;
    width: 70%;
   
}

.tituloUni{
    display: flex;
    align-items: center;
}

.uniDibu{
    width: 30%;
    animation-name: bailaUni;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 5s;
}

@keyframes bailaUni{
    from{
        transform: scale(0.5);
    }

    to{
        transform: scale(1);
    }
        
    
        
}

nav ul {
    display: flex;
    justify-content: space-around; 
}

nav ul li {
    font-family: 'Amatic SC', cursive;
    font-size: 1rem;
    font-weight: bolder;
    list-style: none;
    padding: 0.5rem;
    border: none;
    border-radius: 2rem;
}

nav ul li a{
    text-decoration: none;
    color:grey    
}

.navCatalina {
      background-color: #ffc8a2;
}

.navPrimermes {
   background-color: #b5ead7;
}

.navSegundomes {
   
    background-color: #ff9aa2;
}

.navTercermes {
    background-color: #ffffb5;
}

.navContacto {
     background-color: #cbaacb;
}

/*estilos del main*/
/* Para la version 480 no tendria sentido, pero me queda para las otras versiones*/
.principal{
    justify-content: center;
    padding: 1.5rem;
    display: grid;
    grid-template-areas: "miNacimiento miNacimiento"
                         "video video"
                         "seccionUno seccionDos";                 
    
}

.miNacimiento{
     grid-area: miNacimiento;
    
}
     
h2 {
    text-align: center;  
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
    padding-bottom: 0.5rem;    
    color: rgb(64, 63, 63);  
}
    
p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

    
.video{
    grid-area: video;
    justify-self: center;
    padding: 1rem;
}

.cartaNatal{
    display:none
}

.familiaDatos{
    display:none
}

h3 {
     
    font-family: 'Amatic SC', cursive;
    font-size: 2.5em;
    font-weight: lighter;
    text-align: center;
    padding-bottom: 0.5rem;
}

ul{
    text-align: center;
}

ul li {
    font-family: 'Amatic SC', cursive;
    font-size: x-large;
    list-style-type: circle;
}

.tituloMeses{
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
}

.meses{
    display: flex;
}

.misAventuras{
    width: 50%;
    padding: 0.5rem;
}

.imgMeses{
    width: 50%;
    align-self: center;
}

.crecimientoMeses{
    display: none;
}

/* estilos footer*/
footer {
    text-align: right;
    padding: 0.5rem;
}

.ig{
    display: flex;
    justify-content: end;
}

h4{
    font-size: 0.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.instagram{
    color: black;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}



@media screen and (min-width:1000px) {
    .cartaNatal{
        display:block;
        grid-area: seccionUno;
        justify-self: center;
        

    }
    .familiaDatos{
        display: block;
        grid-area: seccionDos;
        align-self: center;     
    }
    
    .crecimientoMeses{
        display: block;          
    }
 
    
   
}



